<template>

    <div class="az-content-body az-content-body-dashboard-three">
        <h2 class="az-content-title mg-b-5">Hi, welcome back!</h2>
        <p class="mg-b-20">Your ad campaign performance dashboard template.</p>

        <div class="row row-sm mg-b-20">
            <div class="col-lg-9">
                <div class="row row-sm">
                    <div class="col-md-6">
                        <div class="card card-dashboard-nine">
                            <div class="card-header">
                                <h6 class="az-content-label">Estimated Unique Impressions</h6>
                                <h1 class="card-title">321,212</h1>
                                <small class="az-content-text">The estimated number of unique people that see the ad over the past 30 days.</small>

                                <div class="row position-relative m-t-10">
                                    <apexchart :options="chartOptions" :series="series" height="140" type="bar"
                                               v-if="chartOptions"
                                               width="640"></apexchart>
                                </div>

                            </div><!-- card-header -->
                            <div class="bar-chart"><canvas id="chartBar1"></canvas></div>
                        </div><!-- card -->
                    </div>
                    <div class="col-md-6 mg-t-20 mg-md-t-0">
                        <div class="card card-dashboard-nine">
                            <div class="card-header">
                                <h6 class="az-content-label">Estimated Unique Clicks</h6>
                                <h1 class="card-title">305,294</h1>
                                <small class="az-content-text">The estimated number of clicks for the ad over the past 30 days. A click is... <a href="">Learn more</a></small>
                                <div class="row position-relative m-t-10">
                                    <apexchart :options="chartOptions" :series="series" height="140" type="bar"
                                               v-if="chartOptions"
                                               width="640"></apexchart>
                                </div>

                            </div><!-- card-header -->
                            <div class="bar-chart"><canvas id="chartBar2"></canvas></div>
                        </div><!-- card -->
                    </div>
                </div><!-- row -->
            </div><!-- col -->
            <div class="col-lg-3 mg-t-20 mg-lg-t-0">
                <div class="card card-dashboard-ten bg-purple">
                    <h6 class="az-content-label">Popularity</h6>
                    <div class="card-body">
                        <div>
                            <h6>1,137</h6>
                            <label>Global Rank</label>
                        </div>
                        <div>
                            <h6>953</h6>
                            <label>US Rank</label>
                        </div>
                    </div><!-- card-body -->
                </div><!-- card -->
                <div class="card card-dashboard-ten bg-primary">
                    <h6 class="az-content-label">Search Traffic</h6>
                    <div class="card-body">
                        <div>
                            <h6>26.5<span class="percent">%</span></h6>
                            <label>Search Visits</label>
                        </div>
                        <div>
                            <h6>10.6<span class="percent">%</span></h6>
                            <label>Unique Visits</label>
                        </div>
                    </div><!-- card-body -->
                </div><!-- card -->
            </div>
        </div><!-- row -->

        <div class="card card-dashboard-eleven">
            <div class="card-header">
                <h6 class="az-content-label">Real Time Metrics For Your Campaign Statistics</h6>
                <p class="card-text">The global and country campaign stats show how popular your ad is relative to your other ads.</p>
                <div>
                    <apexchart :options="options" :series="series1" height="280" type="area"
                               width="1750"></apexchart>
                </div>

            </div><!-- card-header -->
<!--            <div class="card-body">-->
<!--                <div id="flotChart" class="flot-chart"></div>-->
<!--            </div>&lt;!&ndash; card-body &ndash;&gt;-->
            <div class="card-footer">
                <div>
                    <label>Click Through Conversions</label>
                    <h6>3,605 <span class="up">2.1%</span></h6>
                    <small>The number of clicks to the ad that consist of a single impression.</small>
                </div>
                <div>
                    <label>View Through Conversions</label>
                    <h6>3,313 <span class="down">0.6%</span></h6>
                    <small>Estimated daily unique views per visitor on the ads.</small>
                </div>
                <div>
                    <label>Total Conversions</label>
                    <h6>8,765 <span class="up">6.4%</span></h6>
                    <small>Estimated total conversions on ads per impressions to the ads.</small>
                </div>
            </div><!-- card-info -->
            <div class="jqvmap"><div id="vmap" class="wd-100p ht-100p"></div></div>
        </div><!-- card -->
    </div>
</template>


<script>
export default {
    name: "Summary",
    data() {
        return {
               series: [{

                        data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
                    }, {

                        data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
                    }, {

                        data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
                    }],
                    chartOptions: {
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '55%',
                                endingShape: 'rounded'
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: ['jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
                        },
                        yaxis: {
                            title: {
                                text: '$ (thousands)'
                            }
                        },
                        fill: {
                            opacity: 1
                        },
                        tooltip: {
                            y: {
                                formatter: function (val) {
                                    return "$ " + val + " thousands"
                                }
                            }
                        }
                    },
            series1: [{
                name: 'series-1',
                data: [71, 50, 38, 51, 42, 109, 100]
            }],
            options: {
                series: [{
                    name: 'series1',
                    data: [31, 40, 28, 51, 42, 109, 100]
                }, {
                    name: 'series2',
                    data: [11, 32, 45, 32, 34, 52, 41]
                }],
                chart: {
                    height: 350,
                    type: 'area',
                    zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: true,
                        tools: {
                            download: false
                        }
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    type: 'datetime',
                    categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                },
                tooltip: {
                    x: {
                        format: 'dd/MM/yy HH:mm'
                    },
                },
            },


        }
    },
    mounted() {
    },
}
</script>

<style scoped>

</style>

