<template>
    <div class="az-content-body">
    <div class="az-content-header d-block d-md-flex">
        <div>
            <h2 class="az-content-title tx-24 mg-b-5 mg-b-lg-8">Hi, welcome back!</h2>
            <p class="mg-b-0">Your sales monitoring dashboard template.</p>
        </div>
        <div class="az-dashboard-header-right">
            <div>
                <label class="tx-13">Customer Ratings</label>
                <div class="az-star">
                    <i class="typcn typcn-star active"></i>
                    <i class="typcn typcn-star active"></i>
                    <i class="typcn typcn-star active"></i>
                    <i class="typcn typcn-star active"></i>
                    <i class="typcn typcn-star"></i>
                    <span>(12,775)</span>
                </div>
            </div>
            <div>
                <label class="tx-13">All Sales (Online)</label>
                <h5>431,007</h5>
            </div>
            <div>
                <label class="tx-13">All Sales (Offline)</label>
                <h5>932,210</h5>
            </div>
        </div><!-- az-dashboard-header-right -->
    </div>
        <div class="card card-dashboard-seven">
            <div class="card-header">
                <div class="row row-sm">
                    <div class="col-6 col-md-4 col-xl">
                        <div class="media">
                            <div><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            <div class="media-body">
                                <label>Start Date</label>
                                <div class="date">
                                    <span>Sept 01, 2018</span> <a href=""><i class="fa fa-angle-down"></i></a>
<!--                                    <font-awesome-icon icon="fa-solid fa-angle-down" />-->

                                </div>
                            </div>
                        </div><!-- media -->
                    </div>
                    <div class="col-6 col-md-4 col-xl">
                        <div class="media">
                            <div><i class="fa fa-calendar"></i></div>
                            <div class="media-body">
                                <label>End Date</label>
                                <div class="date">
                                    <span>Sept 30, 2018</span> <a href=""><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div><!-- media -->
                    </div>
                    <div class="col-6 col-md-4 col-xl mg-t-15 mg-md-t-0">
                        <div class="media">
                            <div><i class="fa fa-dollar-sign"></i></div>
                            <div class="media-body">
                                <label>Sales Measure</label>
                                <div class="date">
                                    <span>Revenue</span> <a href=""><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div><!-- media -->
                    </div>
                    <div class="col-6 col-md-4 col-xl mg-t-15 mg-xl-t-0">
                        <div class="media">
                            <div><i class="fa fa-user"></i></div>
                            <div class="media-body">
                                <label>Customer Type</label>
                                <div class="date">
                                    <span>All Customers</span> <a href=""><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div><!-- media -->
                    </div>
                    <div class="col-md-4 col-xl mg-t-15 mg-xl-t-0">
                        <div class="media">
                            <div><i class="fa fa-credit-card"></i></div>
                            <div class="media-body">
                                <label>Transaction Type</label>
                                <div class="date">
                                    <span>All Transactions</span> <a href=""><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div><!-- media -->
                    </div>
                </div><!-- row -->
            </div><!-- card-header -->
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-6 col-lg-3">
                        <label class="az-content-label">Total Quantity</label>
                        <h2>110,000</h2>
                        <div class="desc up">
                           <i class="fas fa-chart-bar text-success"></i>
<!--                            <font-awesome-icon icon="fa-solid fa-chart-simple" />-->
<!--                           <font-awesome-icon icon="fa-solid fa-chart-column" />-->
                            <span><strong>2.00%</strong> (30 days)</span>
                        </div>
<!--                        <span id="compositeline2">5,9,5,6,4,12,18,14,10,15,12,5,8,5,12,5,12,10,16,12</span>-->
                        <div class="row position-relative m-t-10">
                            <apexchart :options="graphoptions" :series="series2" height="130" type="area"
                                       width="480"></apexchart>
                        </div>
                    </div><!-- col -->
                    <div class="col-6 col-lg-3">
                        <label class="az-content-label">Total Cost</label>
                        <h2><span>$</span>523,200</h2>
                        <div class="desc up">
                            <i class="fas fa-chart-bar text-success"></i>
                            <span><strong>12.09%</strong> (30 days)</span>
                        </div>
                        <div class="row position-relative m-t-10">
                            <apexchart :options="graphoptions" :series="series2" height="130" type="area"
                                       width="480"></apexchart>
                        </div>
                    </div><!-- col -->
                    <div class="col-6 col-lg-3 mg-t-20 mg-lg-t-0">
                        <label class="az-content-label">Total Revenue</label>
                        <h2><span>$</span>753,098</h2>
                        <div class="desc down">
                            <i class="fas fa-chart-bar text-danger"></i>
                            <span><strong>0.51%</strong> (30 days)</span>
                        </div>
                        <div class="row position-relative m-t-10">
                            <apexchart :options="graphoptions" :series="series2" height="130" type="area"
                                       width="480"></apexchart>
                        </div>
                    </div><!-- col -->
                    <div class="col-6 col-lg-3 mg-t-20 mg-lg-t-0">
                        <label class="az-content-label">Total Profit</label>
                        <h2><span>$</span>331,886</h2>
                        <div class="desc up">
                            <i class="fas fa-chart-bar text-success"></i>
                            <span><strong>5.32%</strong> (30 days)</span>
                        </div>
                        <div class="row position-relative m-t-10">
                            <apexchart :options="graphoptions" :series="series2" height="130" type="area"
                                       width="480"></apexchart>
                        </div>
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- card-body -->
        </div>
        <div class="row row-sm mg-b-15 mg-sm-b-20">
            <div class="col-lg-6 col-xl-7">
                <div class="card card-dashboard-six">
                    <div class="card-header">
                        <div>
                            <label class="az-content-label">This Year's Total Revenue</label>
                            <span class="d-block">Sales Performance for Online and Offline Revenue</span>
                            <div class="row position-relative m-t-10">
                                <apexchart :options="chartOptions" :series="series" height="380" type="bar"
                                           v-if="chartOptions"
                                           width="1000"></apexchart>
                            </div>

                        </div>
<!--                        <div class="chart-legend">-->
<!--                            <div><span>Online Revenue</span> <span class="bg-indigo"></span></div>-->
<!--                            <div><span>Offline Revenue</span> <span class="bg-teal"></span></div>-->
<!--                        </div>-->
                    </div><!-- card-header -->
<!--                    <div id="morrisBar1" class="ht-200 ht-lg-250 wd-100p"></div>-->
                </div><!-- card -->
            </div><!-- col -->


                    <div class="col-lg-6 col-xl-5 mg-t-20 mg-lg-t-0">
                        <div class="card card-dashboard-map-one">
                            <label class="az-content-label">Sales Revenue by Customers in USA</label>
                            <span class="d-block mg-b-20">Sales Performance of all states in the United States</span>
                            <div class="col-lg-2 col-md-2">
                            <div class="card">
                                <div class="el-card-item">
                                    <div class="el-card-avatar el-overlay-1"><img alt="user" class="img" height="380" width="710"
                                                                                  src="../../../assets/img/gallery/img.png"/>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <!--                    <div id="vmap2" class="vmap-wrapper"></div>-->
                        </div><!-- card -->
                    </div><!-- col -->
                <!-- card -->
           <!-- col -->
        </div>
        <div class="row row-sm mg-b-20 mg-lg-b-0">
            <div class="col-md-6 col-xl-7">
                <div class="card card-table-two">
                    <h6 class="card-title">Your Most Recent Earnings</h6>
                    <span class="d-block mg-b-20">This is your most recent earnings for today's date.</span>
                    <div class="table-responsive">
                        <table class="table table-striped table-dashboard-two">
                            <thead>
                            <tr>
                                <th class="wd-lg-25p">Date</th>
                                <th class="wd-lg-25p tx-right">Sales Count</th>
                                <th class="wd-lg-25p tx-right">Earnings</th>
                                <th class="wd-lg-25p tx-right">Tax Witheld</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>05 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">25</td>
                                <td class="tx-right tx-medium tx-inverse">$380.50</td>
                                <td class="tx-right tx-medium tx-danger">-$23.50</td>
                            </tr>
                            <tr>
                                <td>04 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">34</td>
                                <td class="tx-right tx-medium tx-inverse">$503.20</td>
                                <td class="tx-right tx-medium tx-danger">-$13.45</td>
                            </tr>
                            <tr>
                                <td>03 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">30</td>
                                <td class="tx-right tx-medium tx-inverse">$489.65</td>
                                <td class="tx-right tx-medium tx-danger">-$20.98</td>
                            </tr>
                            <tr>
                                <td>02 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">27</td>
                                <td class="tx-right tx-medium tx-inverse">$421.80</td>
                                <td class="tx-right tx-medium tx-danger">-$22.22</td>
                            </tr>
                            <tr>
                                <td>01 Oct 2018</td>
                                <td class="tx-right tx-medium tx-inverse">31</td>
                                <td class="tx-right tx-medium tx-inverse">$518.60</td>
                                <td class="tx-right tx-medium tx-danger">-$23.01</td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div><!-- card-dashboard-five -->
            </div>
            <div class="col-md-6 col-xl-5 mg-t-20 mg-md-t-0">
                <div class="card card-dashboard-eight">
                    <h6 class="card-title">Your Top Countries</h6>
                    <span class="d-block mg-b-20">Sales performance revenue based by country</span>

                    <div class="list-group">
                        <div class="list-group-item">
                            <i class="flag-icon flag-icon-us flag-icon-squared"></i>
                            <p>United States</p>
                            <span>$1,671.10</span>
                        </div><!-- list-group-item -->
                        <div class="list-group-item">
                            <i class="flag-icon flag-icon-nl flag-icon-squared"></i>
                            <p>Netherlands</p>
                            <span>$1,064.75</span>
                        </div><!-- list-group-item -->
                        <div class="list-group-item">
                            <i class="flag-icon flag-icon-gb flag-icon-squared"></i>
                            <p>United Kingdom</p>
                            <span>$1,055.98</span>
                        </div><!-- list-group-item -->
                        <div class="list-group-item">
                            <i class="flag-icon flag-icon-ca flag-icon-squared"></i>
                            <p>Canada</p>
                            <span>$1,045.49</span>
                        </div><!-- list-group-item -->
                        <div class="list-group-item">
                            <i class="flag-icon flag-icon-au flag-icon-squared"></i>
                            <p>Australia</p>
                            <span>$1,042.00</span>
                        </div><!-- list-group-item -->
                    </div><!-- list-group -->
                </div><!-- card -->
            </div><!-- col -->
        </div>
    </div>

</template>


<script>
export default {
    name: "Summary",
    data() {
        return {
            series: [{

                data: [44, 55, 57, 56, 61, 58, 63, 114]
            }, {

                data: [76, 85, 40, 98, 47, 105, 91, 60]
            }],
            chartOptions: {
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '55%',
                        endingShape: 'rounded'
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 1,
                    colors: ['transparent']
                },
                xaxis: {
                    categories: ['jan','Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
                },
                yaxis: {
                    title: {
                        text: '$ (thousands)'
                    }
                },
                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return "$ " + val + " thousands"
                        }
                    }
                }
            },
            series1: [{
                name: 'series-1',
                data: [71, 50, 38, 51, 42, 109, 100]
            }],
            options: {
                series: [{
                    name: 'series1',
                    data: [31, 40, 28, 51, 42, 109, 100]
                }, {
                    name: 'series2',
                    data: [11, 32, 45, 32, 34, 52, 41]
                }],
                chart: {
                    height: 350,
                    type: 'area',
                    zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: true,
                        tools: {
                            download: false
                        }
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    type: 'datetime',
                    categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                },
                yaxis: {
                    show: false,
                },
                tooltip: {
                    x: {
                        format: 'dd/MM/yy HH:mm'
                    },
                },
            },

            graphoptions: {
                series: [{
                    name: 'series1',
                    data: [31, 40, 28, 51, 42, 109, 100]
                }, {
                    name: 'series2',
                    data: [11, 32, 45, 32, 34, 52, 41]
                }],
                chart: {
                    height: 350,
                    type: 'area',
                    zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: true,
                        tools: {
                            download: false
                        }
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },


                yaxis: {
                    show: false,
                },
                // xaxis: {
                //     type: 'datetime',
                //     categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                // },
                // tooltip: {
                //     x: {
                //         format: 'dd/MM/yy HH:mm'
                //     },
                // },
            },
            series2: [{
                name: 'series-1',
                data: [11, 32, 45, 32, 34, 52, 41]
            }],

        }
    },
    mounted() {
    },
}
</script>

<style scoped>

</style>

