.az-card-signin-logo {
    display: block;
    margin: 0 auto;
}

.az-signin-header h3,
h5 {
    text-align: center;
}

.btn-orange {
    color: #fff;
    background-color: #f4703f;
    border-color: #ec7211;
}

.btn-orange:hover {
    color: #fff;
    background-color: #ec7211;
    border-color: #f4703f;
}

.btn-orange:focus,
.btn-orange.focus {
    box-shadow: 0 0 0 0.2rem rgba(244, 112, 63, 0.9);
}

.btn-orange.disabled,
.btn-orange:disabled {
    color: #fff;
    background-color: #f4703f;
    border-color: #ec7211;
}

.btn-orange:not(:disabled):not(.disabled):active,
.btn-orange:not(:disabled):not(.disabled).active,
.show > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #f4703f;
    border-color: #ec7211;
}

.btn-orange:not(:disabled):not(.disabled):active:focus,
.btn-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(244, 112, 63, 0.5);
}

.custom-pointer {
    cursor: pointer;
}

.custom-form-control {
    background-color: #fff;
    border: 1px solid #aaa !important;
    border-radius: 3px;
    padding: 5px 8px;
}

/*.router-link-exact-active {*/
/*    color: #36bbf4 !important;*/
/*    font-weight: 500;*/
/*}*/

.cursor-not-allowed {
    cursor: not-allowed;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-10 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.dataTables_length > label > select {
    margin-left: 0;
    border: 1px solid #cdd4e0;
    padding: 5px 10px;
    line-height: 1.539;
    background-color: #fff;
}

.dataTables_filter > label > input {
    border-radius: 0 !important;
}

table.dataTable thead .sorting {
    padding-right: 15px;
}

.paginate_button {
    color: #333333 !important;
    cursor: pointer;
}

.paginate_button.disabled {
    cursor: default;
}

.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px;
}

.az-profile-overview .az-img-user {
    width: 100% !important;
    height: 100% !important;
}

#profile-upload {
    background-image: url("../img/DP.svg");
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    border: 1px solid #bbb;
    position: relative;
    border-radius: 250px;
    overflow: hidden;
}

#profile-upload:hover input.upload {
    display: block;
}

#profile-upload:hover .hvr-profile-img {
    display: inline-block;
}

#profile-upload .fa {
    margin: auto;
    position: absolute;
    bottom: -5px;
    left: 0;
    text-align: center;
    right: 0;
    padding: 6px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transform: scale(0.75);
}
#profile-upload:hover .fa {
    opacity: 1;
    -webkit-transform: scale(1);
}
#profile-upload input.upload {
    z-index: 1;
    left: 0;
    margin: 0;
    bottom: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ccc;
    width: 100%;
    display: none;
}

#profile-upload .hvr-profile-img {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    vertical-align: middle;
    position: relative;
    background: transparent;
}
#profile-upload .fa:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    transition: height 0.3s;
}

#profile-upload:hover .fa:after {
    height: 100%;
}

.notification-blue {
    background-color: #36bbf4;
}
.notification-red {
    background-color: #dc3545;
}
.notification {
    border-radius: 3px !important;
    margin-left: 5px;
    font-size: 8px;
    font-weight: 500;
    padding: 4px 6px;
    color: #fff;
    line-height: 0.8;
    position: relative;
    bottom: 3px;
    letter-spacing: normal;
}

.az-toggle span::after {
    content: "";
    right: -29px;
}

.az-toggle span::before {
    content: "";
    left: -25px;
}

.address-book-entry {
    line-height: 15px;
}

.main-col {
    width: 99%;
}

.table-button {
    border: none;
}
.az-content-breadcrumb {
    text-transform: unset;
}
td.actions-col {
    padding: 0px 5px;
    text-align: center;
}
td.actions-col-2 {
    padding: 5px 5px;
    text-align: center;
}

.table th,
.table td {
    vertical-align: middle;
}

.invalid-feedback {
    position: absolute;
}

.form-control::placeholder {
    color: rgb(199, 198, 198);
}
