<template>
    <div class="az-content az-content-dashboard-four">
        <div class="media media-dashboard">
            <div class="media-body">
                <div class="az-content-header">
                    <div>
                        <h6 class="az-content-title tx-18 mg-b-5">Event Monitoring Dashboard</h6>
                        <p class="az-content-text tx-13 mg-b-0">Hi, welcome back! Here's your summary of your events.</p>
                    </div>

                    <div class="az-content-header-right">
                        <div class="media">
                            <div class="media-body">
                                <label>Start Date</label>
                                <h6>Oct 10, 2018</h6>
                            </div><!-- media-body -->
                        </div><!-- media -->
                        <div class="media">
                            <div class="media-body">
                                <label>End Date</label>
                                <h6>Oct 23, 2018</h6>
                            </div><!-- media-body -->
                        </div><!-- media -->
                        <div class="media">
                            <div class="media-body">
                                <label>Event Category</label>
                                <h6>All Categories</h6>
                            </div><!-- media-body -->
                        </div><!-- media -->
                        <a href="" class="btn btn-purple">Export</a>
                    </div>
                </div><!-- az-content-header -->

                <div class="card card-dashboard-twelve mg-b-20">
                    <div class="card-header">
                        <h6 class="card-title">Sales Overview <span>(All Events)</span></h6>

                        <div class="sales-overview">
                            <div class="media">
                                <div class="media-icon bg-purple"><i class="typcn typcn-ticket"></i></div>
                                <div class="media-body">
                                    <label>Tickets Sold</label>
                                    <h4>3,375</h4>
                                    <span><strong>10.5%</strong> of 20,000 Total</span>
                                </div><!-- media-body -->
                            </div><!-- media -->
                            <div class="media">
                                <div class="media-icon bg-teal"><i class="typcn typcn-ticket"></i></div>
                                <div class="media-body">
                                    <label>Tickets Available</label>
                                    <h4>16,625</h4>
                                    <span><strong>89.5%</strong> of 20,000 Total</span>
                                </div><!-- media-body -->
                            </div><!-- media -->
                            <div class="media">
                                <div class="media-icon bg-primary"><i class="typcn typcn-chart-area-outline"></i></div>
                                <div class="media-body">
                                    <label>Net Revenue</label>
                                    <h4><span>$</span>20,832</h4>
                                    <span><strong>3.4%</strong> of Sales Avg.</span>
                                </div><!-- media-body -->
                            </div><!-- media -->
                            <div class="media">
                                <div class="media-body">
                                    <label>About Revenue</label>
                                    <p>The total revenue from all events transactions. Depending on your implementation, this can include tax, discounts such as early bird promo. <a href="">Learn more</a></p>
                                </div><!-- media-body -->
                            </div><!-- media -->
                        </div><!-- sales-overview -->
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="chart-legend">
                            <div><span class="bg-indigo"></span> Tickets Sold</div>
                            <div><span class="bg-teal"></span> Tickets Available</div>
                        </div><!-- chart-legend -->

                        <div class="chart-wrapper">
                            <div id="flotChart" class="flot-chart">
                                <div>
                                    <apexchart :options="options" :series="series" height="280" type="area"
                                                   width="1500"></apexchart>
                                    </div>
                            </div>
                        </div><!-- chart-wrapper -->
                    </div><!-- card-body -->
                </div><!-- card -->

                <div class="row row-sm mg-b-20">
                    <div class="col-md-6">
                        <div class="card card-dashboard-fourteen">
                            <label class="az-content-label">Ticket Sales <span>(This Month)</span></label>
                            <div class="az-traffic-detail-item">
                                <apexchart :options="chartOptions" :series="bar_series" height="150" type="bar"
                                           v-if="chartOptions"
                                           width="720"></apexchart>
                            </div>

<!--                            <div class="card-body">-->
<!--                                <div class="sparkline-wrapper"><span id="sparkline"></span></div>-->
<!--                            </div>-->
                            <div class="card-footer row no-gutters">
                                <div class="col-4">
                                    <h6>9,800</h6>
                                    <label>Tickets For Sale</label>
                                </div><!-- col -->
                                <div class="col-4">
                                    <h6>7,258</h6>
                                    <label>Tickets Sold</label>
                                </div><!-- col -->
                                <div class="col-4">
                                    <h6>2,542</h6>
                                    <label>Tickets Unsold</label>
                                </div><!-- col -->
                            </div><!-- card-footer -->
                        </div><!-- card -->
                    </div><!-- col -->
                    <div class="col-md-6 mg-t-20 mg-md-t-0">
                        <div class="card card-dashboard-fourteen">
                            <label class="az-content-label">Sales Revenue <span>(This Month)</span></label>
                            <div class="card-body">
                                <h1><span>$</span>876,899.60</h1>
                                <label>Total Revenue</label>
                                <div class="row mg-t-15">
                                    <div class="col-6">
                                        <h4>1,500</h4>
                                        <span>Events Hosted</span>
                                        <div class="progress mg-t-5 ht-5">
                                            <div class="progress-bar wd-80p" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <small>80% of your goals</small>
                                    </div><!-- col -->
                                    <div class="col-6">
                                        <h4>991</h4>
                                        <span>Events that earned</span>
                                        <div class="progress mg-t-5 ht-5">
                                            <div class="progress-bar wd-50p bg-teal" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <small>50% of your goals</small>
                                    </div><!-- col -->
                                </div><!-- row -->
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                </div><!-- row -->

                <div class="card card-dashboard-thirteen">
                    <label class="az-content-label">Events Interest Comparison</label>
                    <p class="az-content-text">A comparison of people who mark themeselves of their interest based from the date range given above.</p>
                    <div class="row mg-t-20 mg-b-20">
                        <div class="col-lg-4">
                            <div id="flotPie" class="wd-100p ht-250">
                                                    <apexchart :options="pieoptions" :series="pie_series[0].data" height="380" type="donut"
                                                               v-if="pieoptions"
                                                               width="400"></apexchart>
                            </div>
                        </div><!-- col -->
                        <div class="col-lg-8 mg-t-40 mg-lg-t-0">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <div class="media-icon tx-purple">
                                            <i class="fa fa-male"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6>3,890 <span>(26%)</span></h6>
                                            <label>Interested</label>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                    <span>People who have a ticket reservation of the event is automatically mark as interested.</span>
                                </div><!-- col -->
                                <div class="col-sm-6 mg-t-20 mg-sm-t-0">
                                    <div class="media">
                                        <div class="media-icon tx-primary">
                                            <i class="fa fa-male"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6>8,005 <span>(39%)</span></h6>
                                            <label>Going</label>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                    <span>People who have bought a ticket of the event is automatically mark as going.</span>
                                </div><!-- col -->
                                <div class="col-sm-6 mg-t-20 mg-lg-t-40">
                                    <div class="media">
                                        <div class="media-icon tx-teal">
                                            <i class="fa fa-male"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6>2,120 <span>(20%)</span></h6>
                                            <label>Maybe</label>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                    <span>People who have viewed the event details and set themeselves as maybe.</span>
                                </div><!-- col -->
                                <div class="col-sm-6 mg-t-20 mg-lg-t-40">
                                    <div class="media">
                                        <div class="media-icon tx-gray-500">
                                            <i class="fa fa-male"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6>1,613 <span>(15%)</span></h6>
                                            <label>Not Going</label>
                                        </div><!-- media-body -->
                                    </div><!-- media -->
                                    <span>People who have viewed the event details and set themeselves as not going.</span>
                                </div><!-- col -->
                            </div><!-- row -->
                        </div><!-- col -->
                    </div><!-- row -->
                </div><!-- card -->
            </div><!-- media-body -->




            <div class="media-aside">
                <div class="row row-sm">
                    <div class="col-md-6 col-lg-4 col-xl-12">
                        <div class="card card-dashboard-calendar">
                            <h6 class="card-title">Event Calendar</h6>
                            <div class="media az-media-date">
                                <h1>17</h1>
                                <div class="media-body">
                                    <p>Nov 2018</p>
                                    <span>Saturday</span>
                                </div>
                            </div>
                            <div class="card-body"><div class="fc-datepicker"></div></div>
                        </div><!-- card -->
                    </div><!-- col -->
                    <div class="col-md-6 col-lg-8 col-xl-12 mg-t-20 mg-md-t-0 mg-xl-t-20">
                        <div class="card card-dashboard-events">
                            <div class="card-header">
                                <h6 class="card-title">November 2018</h6>
                                <h5 class="card-subtitle">Upcoming Events</h5>
                            </div><!-- card-header -->
                            <div class="card-body">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <div class="event-indicator bg-purple"></div>
                                        <label>Nov 20 <span>Tuesday</span></label>
                                        <h6>PH World Mall Lantern Festival</h6>
                                        <p><strong>8AM - 4PM</strong> Bay Area, San Francisco</p>
                                        <small><span class="tx-danger">Sold Out</span> (3000 tickets sold)</small>

                                        <div class="event-user">
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <a href="">20+ more</a>
                                        </div><!-- az-event-user -->
                                    </div><!-- list-group-item -->
                                    <div class="list-group-item">
                                        <div class="event-indicator bg-primary"></div>
                                        <label>Nov 23 <span>Friday</span></label>
                                        <h6>Asia Pacific Generation Workshop</h6>
                                        <p><strong>8AM - 5PM</strong> Singapore</p>
                                        <small><span class="tx-warning">Sold Out Soon</span> (12 tickets left)</small>

                                        <div class="event-user">
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <a href="">20+ more</a>
                                        </div><!-- az-event-user -->
                                    </div><!-- list-group-item -->
                                    <div class="list-group-item">
                                        <div class="event-indicator bg-pink"></div>
                                        <label>Nov 23 <span>Friday</span></label>
                                        <h6>Korea Smart Device Trade Show</h6>
                                        <p><strong>8AM - 5PM</strong> Singapore</p>
                                        <small><span class="tx-success">Free Registration</span> (Limited seats only)</small>

                                        <div class="event-user">
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                            <a href="">20+ more</a>
                                        </div><!-- az-event-user -->
                                    </div><!-- list-group-item -->
                                </div><!-- list-group -->
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- media-aside -->
        </div><!-- media -->

    </div>
</template>

<script>
import {mapGetters} from "vuex";


export default {
    name: 'Dashboard2',

    computed: {
        ...mapGetters(["currentUser", "currentOrg"]),
        pieData () {
            return this.data.toString()
        }
    },

    data: function () {
        return {
            data: [6,4,7,5,7],
            series: [{
                name: 'series-1',
                data: [21, 30, 28, 31, 22, 39, 25]
            },
                {
                    name: 'series2',
                    data: [41, 82, 45, 72, 64, 82, 61]
                }],
            options: {
                series: [{
                    name: 'series1',
                    data: [31, 40, 28, 51, 72, 109, 100]
                }, {
                    name: 'series2',
                    data: [11, 32, 45, 32, 34, 52, 41]
                }],
                chart: {
                    height: 350,
                    type: 'area',
                    zoom: {
                        enabled: false
                    },
                    toolbar: {
                        show: true,
                        tools: {
                            download: false
                        }
                    }
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    type: 'datetime',
                    categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                },
                tooltip: {
                    x: {
                        format: 'dd/MM/yy HH:mm'
                    },
                },
            },
            chartOptions: {
                series: [{
                    name: 'series-1',
                    data: [30, 40, 20, 60, 49, 60, 70, 91]
                }],
                colors: ['#019b40'],
                dataLabels: {
                    enabled: false
                },
                chart: {
                    type: 'bar',
                    toolbar: {
                        show: true,
                        tools: {
                            download: false
                        }
                    }
                },
                xaxis: {
                    categories: ['1', '2', '3', '4', '5']
                }

            },
            bar_series: [{
                name: 'series-1',
                data: [30, 40, 20, 60, 49, 60, 70, 91]
            }],
            pieoptions:{
                series: [44, 55, 41, 17, 15],
                chart: {
                    type: 'donut',
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]

            },
            pie_series: [{
                name: 'series-1',
                data: [44, 55, 41, 17, 15]
            }],
            pie_data: [{
                name: 'series-1',
                data: [1, 2, 3, 2, 2]
            }],
        }

    },
    mounted() {
        var highlightedDays = ['2018-5-10','2018-5-11','2018-5-12','2018-5-13','2018-5-14','2018-5-15','2018-5-16'];
        var date = new Date();
        $('.fc-datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'yy-mm-dd',
            beforeShowDay: function(date) {
                var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
                for (var i = 0; i < highlightedDays.length; i++) {
                    if($.inArray(y + '-' + (m+1) + '-' + d,highlightedDays) != -1) {
                        return [true, 'ui-date-highlighted', ''];
                    }
                }
                return [true];
            }
        });
    }
}

</script>
