<template>
    <aside class="left-sidebar">
        <div class="scroll-sidebar d-print-none">
            <nav class="sidebar-nav">
                <ul>
                    <li class="sidebar-item">
                        <router-link :to="{ name: 'dashboard'}" aria-expanded="false"
                                     class="sidebar-link waves-effect waves-dark" exact>
                            <i class="fas fa-tachometer-alt"></i><span class="hide-menu">{{ $t('WorkspaceMenubar.DashboardOptions.Dashboard')}}</span>
                        </router-link>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</template>
