<template>
    <div class="az-footer ht-40">
        <div class="container ht-100p pd-t-0-f">
            <span>&copy; 2019 Azia Responsive Bootstrap 4 Dashboard Template</span>
        </div><!-- container -->
    </div><!-- az-footer -->
</template>

<script>
    export default {
        name: "WorkspaceFooter"
    }
</script>

<style scoped>

</style>
